@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {
  .cursor-brand {
    cursor: url('public/cursor-yellow.png') 12 12, auto;
  }
}

.dots-bg {
  background-color: #15110B;
  background-image: radial-gradient(gray 1px, transparent 1px);
  background-size: 16px 16px;
}